<div class="container">
Bienvenue sur ouestelle, mon blog de voyage !

Je m'appelle Estelle et j'ai 28 ans. En 2015, j'ai eu la chance de réaliser mon rêve : voyager. Je suis partie pendant un an et deux mois en Amérique, en Asie et en Europe. Depuis Septembre 2016, je suis rentrée à la maison et je vis à Paris. En attendant de repartir loin et longtemps, je profite pour découvrir l'Europe et la France. Prochain Voyage à long terme prévu pour février 2020 et cette fois-ci, en amoureux !
Wish us luck 🙂
Estelle
Curieuse

36
Pays visités

7647
km en autostop

10
mois NON-STOP

à Propos de moi
Je suis née dans le nord, à Dunkerque, mais je refuse qu’on dise que je suis une ch’ti, chez nous, on est flamand! J’y suis née et j’y ai grandit jusqu’à que ce que je déménage à Compiègne – autant dire que je n’ai pas beaucoup bougé – pour aller étudier. Et maintenant je travaille à Paris !

Lire plus
Quelques Articles ...

| QUE FAIRE À BANGKOK ?

J’ai réuni dans cet articles toutes les choses à faire et à voir à Bangkok et la liste est longue ! Temples par dizaines, marchés flottants, musées…


| TORRES DEL PAINE

Premier stop au Chili, de Ushuaïa à Puerto Natales, impression de fin du monde. Puis un trek de 3 jours dans le parc du Torres del Paine. Magnifique !


| VISITE RAPIDE DE MILAN

Tout ce qu’il y a à voir et à visiter à Milan pour une visite rapide. Destination italienne parfaite pour un city trip sur le weekend.

Fièrement propulsé par WordPress | Thème : Master Blog

 </p>
</div>
