<div class="container">
  <div class="navbar">
      <h1><%= link_to 'Où est-elle ?', root_path, class: "logo" %></h1>

      <div class="menu">
        <li>
          <%= link_to "Home", root_path %>
          <%= link_to 'Articles', articles_path %>
        </li>
      </div>

  </div>
</div>
